/* ========== General Styling ========== */

html {
  box-sizing: border-box;
}

:root {
  display: flow-root;
}

/*---------- helping borders ---------*/
body {
  border: 2px solid black;
}
header {
  border: 2px solid pink;
}
nav {
  border: 2px solid green;
}
ul {
  border: 2px solid blue;
}
li {
  border: 2px solid violet;
}
aside {
  border: 2px solid yellow;
}
main {
  border: 2px solid salmon;
}
/*------------------------------------*/

/* =========== Special Styling ========== */

.header__nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;

  list-style: none;
  margin: 0 0.5rem;
  padding: 0;
}

.header__nav-list-product {
  flex-grow: 1;
  margin: 0 20%;
  text-align: center;
}

.aside-main-container {
  display: flex;
  flex-direction: row;
}

.aside {
  height: 100vh;
  width: 40%;
  overflow: auto;
}

.main {
  height: 100vh;
  width: 60%;
  overflow: auto;
}
