/* --------------------General Styling-------------------- */

* {
  box-sizing: border-box;
  font-family: quicksand, Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

/* helping borders */

/*article {
  border: 0.1rem solid blue;
}

header {
  border: 0.1rem solid pink;
}

aside {
  border: 0.1rem solid yellow;
}

main {
  border: 0.1rem solid black;
}

h1 {
  border: 0.1rem solid red;
}

p {
  border: 0.1rem solid greenyellow;
}

footer {
  border: 0.1rem solid orange;
}
*/

/* --------------------Spezific Styling------------------- */

/* body */

.shopping-layout {
  display: flex;
  flex-direction: row;
  background-color: rgb(234, 233, 233);
}

@media screen and (max-width: 500px) {
  .shopping-layout {
    flex-direction: column;
  }
}

body > article {
  margin: 1.3rem;
  border-radius: 1rem;
}

.article-asics {
  border: 0.1rem;
  background-color: white;
}

/* header */

.header-asics {
  border-radius: 0.5rem;
}

.section-img {
  position: relative;
}

.cover {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 1%,
    rgba(255, 255, 255, 0) 60%
  );
}

.img-asics-shoes {
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
}

.shipping {
  position: absolute;
  z-index: 0;
  background-color: rgb(234, 233, 233);
  opacity: 80%;
  border-radius: 0.3rem;
  padding: 0.4rem;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 0.8rem;
}

.photo-asics {
  position: absolute;
  color: gray;
  font-size: 0.6rem;
  margin-left: 1rem;
  bottom: 2rem;
}

/* main */

.main-asics {
  margin: 0.5rem;
  padding-bottom: 1rem;
}

.main-p {
  color: gray;
  line-height: 1.5;
}

/* footer */

.footer-asics {
  margin: 0.5rem;
  background-color: rgb(234, 233, 233);
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 0.5rem;
}

.prize {
  text-align: center;
  margin: 1rem;
  padding: 0.3rem;
  border-radius: 0.3rem;
  background-color: white;
}

.size,
.quantity {
  margin: 0 1rem;
  color: gray;
}

.size-selector,
.quantity-selector {
  width: 3.5rem;
  padding: 0.1rem;
  margin-left: 0.5rem;
  border-radius: 0.3rem;
  border-color: lightgrey;
}

.color button {
  margin: 0 0.2rem;
}

.color {
  margin: 1rem;
  color: gray;
}

.blue {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 5rem;
  background-color: blue;
  border: none;
}

.red {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 5rem;
  background-color: red;
  border: none;
}

.black {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 5rem;
  background-color: black;
  border: none;
}

.add-cart {
  background-color: blue;
  border: none;
  color: white;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
}
